Inventarios/Inventarios/Service References/ServiceReference1/inv2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="inv2" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:12521/inv2.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:12521/inv2.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:12521/inv2.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Iinv2_guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:guardar" />
  </wsdl:message>
  <wsdl:message name="Iinv2_guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:guardarResponse" />
  </wsdl:message>
  <wsdl:message name="Iinv2_buscar_InputMessage">
    <wsdl:part name="parameters" element="tns:buscar" />
  </wsdl:message>
  <wsdl:message name="Iinv2_buscar_OutputMessage">
    <wsdl:part name="parameters" element="tns:buscarResponse" />
  </wsdl:message>
  <wsdl:message name="Iinv2_convertir_InputMessage">
    <wsdl:part name="parameters" element="tns:convertir" />
  </wsdl:message>
  <wsdl:message name="Iinv2_convertir_OutputMessage">
    <wsdl:part name="parameters" element="tns:convertirResponse" />
  </wsdl:message>
  <wsdl:message name="Iinv2_toText_InputMessage">
    <wsdl:part name="parameters" element="tns:toText" />
  </wsdl:message>
  <wsdl:message name="Iinv2_toText_OutputMessage">
    <wsdl:part name="parameters" element="tns:toTextResponse" />
  </wsdl:message>
  <wsdl:portType name="Iinv2">
    <wsdl:operation name="guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/Iinv2/guardar" message="tns:Iinv2_guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iinv2/guardarResponse" message="tns:Iinv2_guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="buscar">
      <wsdl:input wsaw:Action="http://tempuri.org/Iinv2/buscar" message="tns:Iinv2_buscar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iinv2/buscarResponse" message="tns:Iinv2_buscar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="convertir">
      <wsdl:input wsaw:Action="http://tempuri.org/Iinv2/convertir" message="tns:Iinv2_convertir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iinv2/convertirResponse" message="tns:Iinv2_convertir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="toText">
      <wsdl:input wsaw:Action="http://tempuri.org/Iinv2/toText" message="tns:Iinv2_toText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iinv2/toTextResponse" message="tns:Iinv2_toText_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Iinv2" type="tns:Iinv2">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="guardar">
      <soap:operation soapAction="http://tempuri.org/Iinv2/guardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscar">
      <soap:operation soapAction="http://tempuri.org/Iinv2/buscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertir">
      <soap:operation soapAction="http://tempuri.org/Iinv2/convertir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="toText">
      <soap:operation soapAction="http://tempuri.org/Iinv2/toText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="inv2">
    <wsdl:port name="BasicHttpBinding_Iinv2" binding="tns:BasicHttpBinding_Iinv2">
      <soap:address location="http://localhost:12521/inv2.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>